# Copy this file to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars to git!

aws_access_key = "AKIA..."
aws_secret_key = "..."
aws_region     = "eu-north-1"
bucket_name    = "hw-pzt-site"
