#!/bin/bash
set -eox pipefail

# Встановлення Apache2
apt-get update -y
apt-get install -y apache2
systemctl enable apache2

# Запис статичного сайту (контент підставляє Terraform через templatefile)
cat > /var/www/html/index.html <<'HTML_EOF'
${site_content}
HTML_EOF

chown www-data:www-data /var/www/html/index.html
chmod 644 /var/www/html/index.html

systemctl restart apache2
